button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button.create-account-button {
    background-color: #3498db; /* Blue color for create account button */
    color: #fff; /* White text color */
}

button.back-to-login-button {
    background-color: #e67e22; /* Orange color for back to login button */
    color: #fff; /* White text color */
}
